h1{
    color: rgb(0, 255, 0);
    color: rgb(255, 255, 0);
    color: rgb(255, 255,255 );
    color: rgb(0,0,0);
    color: rgb(0,0,255);
    color: powderblue;
    color: rgb(10, 181, 44);
    color: rgba(121,23,124,.3);
    color: #000000;
    color: #ffffff;
    color: #234f31;
}