/* *{
    padding: 0px;
    margin: 0px;
    border: 2px solid red;
} */

span{
   padding-left: 50px ;
   margin-left: 150px;
    border: 3px solid red;
}
div{
    margin: 5px;
    padding-left: 100px;
    border: 2px solid black;
}
