div{
    height: 100px;
    width: 100px;
    /* border: 2px solid  black; */
    /* border: 2px dashed black; */
    /* border: 9px dotted black; */
    border: 13px ridge black;
    background-color: yellow;



}

/* # id ---> unique */
/* .  class  --> group  */
