section{
    height: 400px;
    width: 90vw;
    border: 2px solid black;
}

h1{
    border: 2px solid lightseagreen;
}
p{
    color: chocolate;
}

@media screen  and (max-width:700px) {
    h1{
        border: 12px solid red;
    }
}
@media screen  and (max-width:700px) {
    p{
        color: aqua;
    }
}